{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="tool-header">
        <h1 class="text3" >Image Format Converter – Convert Any Image to JPG, PNG, WebP & TIFF</h1>
    </div>
    <main class="content-container">
        <section class="reducer-container">

            <input type="file" id="cimg1_fileInput" accept="image/*" multiple required style="display: none;">

            <div class="drag-drop-area" id="cimg1_dragDropArea">
                <p>Drag and drop image(s) to convert (e.g., PNG, JPG, WEBP)</p>
            </div>

            <div class="config-area">
                
                <div class="kb-input-group">
                    <label for="cimg1_targetExtension">Convert to:</label>
                    <select id="cimg1_targetExtension" name="target_extension">
                        <option value="jpg">JPEG (.jpg)</option>
                        <option value="png">PNG (.png)</option>
                        <option value="webp">WEBP (.webp)</option>
                        <option value="tiff">TIFF (.tiff)</option>
                    </select>
                </div>

                <button class="submit-button" id="cimg1_submitButton" disabled>
                    Convert Extension
                </button>
            </div>

            <div class="preview-area-wrapper" id="cimg1_uploadedPreviewWrapper" style="display: none;">
                <h3 class="preview-title">Uploaded Images</h3>
                <div class="image-preview-grid" id="cimg1_uploadedImagesGrid">
                    </div>
            </div>

            <div class="preview-area-wrapper">
                <h3 class="preview-title">Converted Images</h3>
                <div class="processed-area" id="cimg1_processedArea">
                    <p id="cimg1_processedMessage">Converted images will appear here.</p>

                    </div>
            </div>

        </section>
    </main>
    <script src="{% static 'script/tojpg.js' %}" ></script>
    {% endblock %}